html {
  height: 100%;
  width: 100%;
}

button {
  padding: 5px;
  margin: 2px;
}

input[type=checkbox] {
  transform: scale(2);
  margin: 10px;
}

input[type=checkbox] + span {
  font-size: 110%;
  display: inline;
}